section.skills{
 .skillcontent{
  display: block;
  align-items: center;
  .left{
   display: grid;
   grid-template-columns: 1fr 1fr;
    margin-bottom:3rem;
    .heading{
     margin-bottom: 2rem;
     i{
      color: var(--skill-heading-color);
      font-size: 52px;
     }
     h5{
      font-size: 16px;
      margin-top: 0.5rem;
      color:  var(--skill-heading-color);
     }
    }
    
    .timeline_wrapper{
     border-left: 2px dotted var(--skill-dotted-line-color);
       .item{
          margin-bottom: 2.6rem;
          margin-left: 15px;
          &::after{
           content: "";
           position: absolute;
           left: 0;
           top: 5px;
           width: 10px;
           height: 10px;
           border: 2px solid var(--skill-item-after-color);
           border-radius: 50%;
           margin-left: -21px;
          }
          position: relative;
             p{
              font-size: 14px;
              color: var(--skill-item-date-color);
              line-height: 1.7;
             }
             p.center{
              color: var(--skill-iten-center-color);
             }
       }
    }
  }
  .right{
   .skills_wrapper{
    .skill-box {
     margin-bottom: 4rem;
     h4{
      color: var(--skill-heading-color);
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 1rem;
     }
     .progress_wrap{
       background-color: var(--skill-progress-div-bg);
       height: 6px;
       width: 100%;
       border: 2px solid var(--skill-progress-div-bg);
       box-shadow: 0 0 1px 0.25px var(--skill-progress-div-shadow);
       border-radius: 10px;
       position: relative;
       .progress_bar{
        display: block;
        height: 100%;
        background: var(--skill-progress-runner-bg);
        width: 0;
        transition: all 1s ease-in-out;
        position: relative;
        &::after{
          content: "";
          height:7px;
          width: 7px;
          background-color:  var(--skill-progress-runner-after-color);
          border-radius: 50%;
         position: absolute;
         right: 0px;
         top: -3px;
         font-family: "Font Awesome 5 Free";
         font-weight: 900;
         font-size: 20px;
        }

        span.tooltips{
         position: absolute;
         right: -12px;
         top: 13px;
         margin-bottom: 10px;
         color: var(--skill-progress-tooltip-color ) !important;
         font-size: 16px;
         text-transform: uppercase;
        }
       }
     }
    }
   }
  }


 }
}

@mixin education-experience-desktop(){
 section.skills{
  .skillcontent{
   display: grid;
   grid-template-columns: 1fr 1fr;
  }
 }
}